.ticket-form form .form-group {
    margin-bottom: 15px; /* Add space between form fields */
}

.ticket-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: #3B3B3B;
}

.ticket-card:hover {
    transform: scale(1.05);
  }